vultr_api_key = ""
vm_plan       = ""
vm_region     = ""
image_id      = ""
snapshot_id   = ""
vm_label      = "testbed for terraform"
vm_hostname   = "testhost"
ssh_key_name  = "ssh-key-name"
ssh_key_path  = "/path/to/ssh_pub_key"
