api_key            = "api_key"
plan               = "vc2-1c-1gb"
region             = "sea"
snapshot_id        = "123snapshot"
firewall_group_id  = "123firewall"
label              = "my-instance-staging"
hostname           = "my-instance-staging"
ssh_key_name       = "user-ed25519"
ssh_key_path       = "/path/to/.ssh/id_ed25519.pub"
is_backups_enabled = "disabled"
