api_key            = ""
plan               = ""
region             = ""
snapshot_id        = ""
firewall_group_id  = ""
label              = "testbed for terraform"
hostname           = "testhost"
ssh_key_name       = "ssh-key-name"
ssh_key_path       = "/path/to/ssh_pub_key"
is_backups_enabled = "disabled"
